html {
    overflow-y: scroll;
}
.navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    background-color: #e7e7e7;
    width: 100%;
    line-height: 5px;
    left: 0;
    border-bottom: 1px solid #00CA61;

}
a {
    text-decoration: none;
    margin-right: 15px;
    color: #00CA61;
    font-weight: bold;
}
.navbar a:link {
    text-decoration: none;
}
.navbar a:hover {
    color: coral;
}
.navbar .logo {
    float: left;
    padding-left: 8px;
}
.navbar .logo h1{
    color: #00CA61;
}
.navbar .menu {
    padding-top: 34px;
    padding-right: 10px;
    float: right;
    text-transform: uppercase;
    font-size: 20px;
}

.pictext {
    text-align: center;
    color: #e7e7e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main {
    color: #333;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
    padding-right: 160px;
    padding-left: 160px;
    padding-bottom: 30px;
}